* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 16px;
    color:rgb(193, 12, 178);
}

body {
    background-image:url(./img/background.jpg);
}

.contentBox {
    border: 5px solid rgb(193, 12, 178);
    background-color: rgb(16, 229, 197);
    display: grid;
    place-items:center;
    font-size: 3em;
    padding: 10px;
}

.contentBox h1 {
    font-size: 1em;
}

.contentBox em {
    font-size: 1em;
}

#nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    height: 5vh;
}

#nav button {
    width: 100%;
    background-color: rgb(16, 229, 197);
}

#title {
    font-size: 5em; 
}

#content {
    display: grid;
    width: 80vw;
    margin-top: 5vh;
    margin-left: 10vw;
    margin-right: 10vw;
    gap: 50px;
}

#body {
    display: grid;
    gap: 50px;
}

#headline {
    padding: 5px;
}

#headline h3{
    font-size: 1em;
}
#featuredContainer {
    display: grid;
}

#featuredDescription h3 {
    font-size: 2em;
}

#featuredItems {
    width: 100%;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(3,340px);
    justify-content: space-between;
    overflow: scroll;
}

#featuredContainer::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

#shop {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 25px;
}

.itemDescription {
    font-size: 1em;
    display: grid;
    place-items: center;
    border-bottom: 1px solid rgb(193, 12, 178);
}

/* ===== Scrollbar ===== */
  /* Firefox */
* {
    display: hidden;
}

  /* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

*::-webkit-scrollbar-track {
    background: rgb(16, 229, 197);
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(193, 12, 178);
    border-radius: 0px;
    display: hidden;
}

  