* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 16px;
    color:rgb(193, 12, 178);
}

body {
    background-image:url(./img/background.jpg);
    background-attachment: fixed;
}

.contentBox {
    border: 5px solid rgb(193, 12, 178);
    background-color: rgb(16, 229, 197);
    display: grid;
    place-items:center;
    font-size: 3em;
    padding: 10px;
}

.contentBox p,
.contentBox h1,
.contentBox em,
.contentBox a {
    font-size: 1em;
}


#nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    height: 5vh;
}

button {
    width: 100%;
    background-color: rgb(16, 229, 197);
}

#nav .active {
    background-color: rgb(9, 151, 151);
}   

#title {
    font-size: 5em; 
}

#content {
    display: grid;
    width: 80vw;
    margin-top: 5vh;
    margin-left: 10vw;
    margin-right: 10vw;
    gap: 50px;
    background: none;
}

#body {
    display: grid;
    gap: 50px;
    background: none;
    box-shadow: none;
    justify-items: center;
}

#headline {
    padding: 5px;
}

#headline h3{
    font-size: 1em;
}

#featuredContainer {
    width: 500px;
}
#featuredDescription h3 {
    font-size: 2em;
}

#shop {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 25px;
}

.itemDescription {
    font-size: 1em;
    display: grid;
    place-items: center;
    border-bottom: 1px solid rgb(193, 12, 178);
}

#carousel {
    width: 100%;
    display: grid;
    grid-template-columns: 50px 370px 50px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#pictureFrame {
    width: 370px;
    height: 300px;
    overflow: hidden;
}

#carousel button {
    height: 50px;
    border: 2px solid rgb(193, 12, 178);
}

#picture {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    position: relative;
    transition: transform 300ms ease-in-out;
}

/* ===== Scrollbar ===== */
  /* Firefox */
* {
    display: hidden;
}

  /* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

*::-webkit-scrollbar-track {
    background: rgb(16, 229, 197);
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(193, 12, 178);
    border-radius: 0px;
    display: hidden;
}

  